debug/
/target
.env
.idea/
**/*.rs.bk
*.pdb
Dockerfile

# Ignore rust-to-npm build artifacts in the root directory
/package.json
/pre-install.js
/start.js
/uninstall.js

# Don't ignore the rust-to-npm files in the subdirectories
!*/package.json
!*/pre-install.js
!*/start.js
!*/uninstall.js