<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>server stats</title>
</head>
<body>
    Load average: {{ stats.loadavg }} <br />
    Cpu usage: {{ stats.cpu_usage }} </br />
    Memory usage: {{ stats.memory_usage }} <br />

    <!-- three row two column table -->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>Load average</th>-->
<!--            <th>Cpu usage</th>-->
<!--            <th>Memory usage</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>{{ stats.loadavg }}</td>-->
<!--            <td>{{ stats.cpu_usage }}</td>-->
<!--            <td>{{ stats.memory_usage }}</td>-->
<!--        </tr>-->
</body>
</html>